.ff2{
  height: 60px;
  width: 170px;
  
    margin-left: 10px;
  
  
    
    
}
.ff3{
    height: 24px;
    
}
.ff4{
    width: 630px;
    height: 400px;
}
.ff5{
    margin-top: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.fb{
    height: 24px;
    /* margin-left: 20px; */
}
.twitter{
    height: 24px;
}
.ig{
    height: 24px;
    margin-left: 5px;
}
.search{
    height: 24px;
}
.user{
    height: 24px;
}
.ff9{
    z-index: 1;
}
.lmao{
    max-width: 290px;
}
